<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Index</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <h1>Bleuio test suite</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <form method="POST" action="/start">
                    <div>
                    <button class="btn btn-primary" type="submit">Start test</button>
                    </div>
                </form>
            </div>
            <div class="col-sm">
                <form method="GET" action="/connect">
                    <div>
                    <button class="btn btn-primary" type="submit">Connect to dongle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% block connected %}
    {% endblock %}
</body>
</html>