{% extends "base.html" %}
{% block start %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <form method="POST" action="/start">
                    <div>
                    <button class="btn btn-primary" type="submit">Start test</button>
                    </div>
                </form>
            </div>
            <div class="col-sm">
                <form method="GET" action="/connect">
                    <div>
                    <button class="btn btn-primary" type="submit">Connect to dongle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}